@import "annimation.css";
@import "colors.css";
/* Conteneur principal */
.container_custom {
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg, var(--ciel), var(--violet), var(--ciel));
    background-size: 300% 300%;
    animation: movingGradient 10s infinite alternate ease-in-out;
    backdrop-filter: blur(10px);
}

/* Centrage du titre */
h3.center {
    display: block;
    text-align: center;
    font-size: 30px;
    color: black;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: bold;
    padding: 30px 0;
    margin-bottom: 5px;
}

/* Table */
.custom_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

/* En-tête et cellules */
.custom_table th, .custom_table td {
    padding: 12px;
    font-weight: bold;
    color: black;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.custom_table tr {
    border-radius: 15px;
    border: 1px solid darkgray;

}
.custom_table tr th{
    background-color: var(--bleuCian);
    color: white;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;


}
.reg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    background-color: #ffffff;
    padding: 20px;
    border-radius:10px;
}
/* Style de l'en-tête */
.info {
    border-radius: 15px;
    background: rgb(255, 255, 255);
    /*background: linear-gradient(90deg, rgba(35,116,191,1) 0%, rgba(35,116,191,1) 100%);*/
    overflow: hidden;
}

/* Alignement des 4 premières colonnes à gauche */
.custom_table th:not(.actions-column),
.custom_table td:not(.actions-column) {
    text-align: left;
}

/* Alignement spécifique pour la colonne des actions */
.actions-column {
    text-align: right;
    width: 200px; /* Ajuste la largeur de la colonne des actions */
}

/* Alignement des boutons dans la colonne des actions */
.actions {
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
    justify-content: flex-end; /* Alignement à droite */
}

/* Boutons */
.btn {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    display: inline-block;
    border: none;
}

/* Animation au survol pour tous les boutons */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Modifier */
.btn-warning {
    background-color: #6c757d;
    color: black;
    border-bottom: none;
}

.btn-warning:hover {
    background-color: #4a5568;
}

/* Supprimer */
.btn-danger {
    background-color: #c82333; /* Rouge Bootstrap */
    color: black;
}

.btn-danger:hover {
    background-color: #a71d2a;
}
