@keyframes movingGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/*background: linear-gradient(90deg, #ffffff, #a6cdf8, #e3ecff);*/
/*background-size: 300% 300%;*/
/*animation: movingGradient 10s infinite alternate ease-in-out;*/
/*backdrop-filter: blur(10px);*/
